*,html {
  box-sizing: border-box;
}

body {
  width : 100vw;
  height: 100vh;
  background: grey;
  border-radius: 100px 100px;
  overflow: scroll;
  font-family: Arial;
}

.right-section {
  padding: 2%;
}
a:visited {
  color: black;
}

a {
  color: black;
}

a:link {
  color: black;
}

.wrapper {
  min-width: 40%;
  /* margin-top: 30%; */
  border-radius: 20px 20px 20px 20px;

}

.left-section > ol  {
  list-style-position: inside;
  border-radius: 20px;
}

.heavy {
  font-weight: bold;
}

.active {
  background: grey;
}

.aboveButtons{
  margin-top: 2%;
  margin-bottom: 2%;

}

.underline {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

.top-nav {
  margin-top: 5%;
}

.top-nav > a:link {
  color: white;
  border: white thin solid ;
  padding: 10px;
  background-color: white;
}
nav {
  text-align: center;
}

 .wrapper {
  background: white;
  position:absolute;
  top:55%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px 15px 15px 15px;
} 

.answer {
  margin-top: 3%;
  color: grey;
}

.bottom {
  margin-top: 1%;
  padding: 5%;
  z-index: 1;
}

.center {
  text-align: center;
}

.box {
  text-align: center;
  line-height: 1em;
  color: white;
  padding-top: 1%;
}
