*,html {
  box-sizing: border-box;
}

.left-section > ol  {
  list-style-position: inside;
  text-align: left;
}

.heavy {
  font-weight: bold;
}
.active {
  background: lightgreen;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}

body {
  width : 100vw;
  height: 100vh;
  background: grey;
  border-radius: 100px 100px;
  font-family: "Courier New", Courier, monospace;
}

nav {
  text-align: center;
  position: relative;
  top: 30px;
}

.top-nav > a:link {
  color: white;
  border: white thin solid ;
  padding: 10px;
  background-color: white;
}

.wrapper {
  background: white;
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px 15px 15px 15px;
  margin-top: 20px;
}

.bottom {
	width:40%;;
}

.flex-container {
	display: flex;
  justify-content: space-around;
}

.center {
  text-align: center;
}

.box {
  text-align: center;
  line-height: .5em;
  color: white;
  border-radius: 20px 20px 20px 20px;
}

.right-section {
  width: 40%;
  height: 40%;
}

.left-section {
  width: 60%;
  height: 50%;
  background-color: lightgreen;
  margin-right: 3%;
  margin-left: 3%;
  padding: 0;
  text-align: center;
}