

body {
  width : 100vw;
  height: 100vh;
  background: grey; 
  border-radius: 100px 100px;
  overflow: scroll;
  font-family: Arial;  
  color: black;
}

 .header {
   /* margin-top: 2%;; */
 }

.indexNav {
  margin-bottom: 0;
}

a:visited {
  color: black;
}

.subheading {
  margin-top: 1%;
  color: black;  
}

/* About Me Page */

nav {
  text-align: center;
}

a:link {
  color: black;
}

.top-nav {
  text-decoration: none;
}

.top-nav {
/*   margin-top: 5%; */
}

.open-sans {
  font-family: Arial;
}

.view {
	min-width: 25%;
}

.center > a, .center{
  text-align: center;
  color: white;
  margin-top: 30px 19% 0 0;;
}

h3 > .email {
  text-align: center;
  margin-top: 12%;
  display: relative;
  right: 50%;
  color: black;
}
.email {
  text-align: center;
  margin-top: 12%;
  display: relative;
  right: 50%;
  color: black;
}
header {
  display: block;
  /* margin: auto; */
  text-align: center;
/*   margin-top: 10%;
  margin-bottom: 30px; */
  margin-left: auto;
  margin-right: auto;
}
.main-center > h3, .main-center{
  text-align: center;
  list-style-position: inside;
   margin: auto; */
}

nav :nth-child(4n) {
  margin-top: 50px;
}

.top-nav > a:link {
  color: black;
  border: white thin solid ;
  padding: 10px;
  background-color: white;
}

.underline {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
.underline-one {
  text-decoration: underline;
  font-weight: bold;
  color: black;
}
.grid-item > .black {
  color: black;
}

.grid-item > .black-width{
  background-color: rgba(255, 255, 255);
  border: 5px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
  color: black;
  }

a {
  text-decoration: none;
}

.video {
/*   margin-top: 5%; */
}
header img {
  width: 100px;
  text-align: center;
  border-radius: 50%;
  height: 50%
}

 hr {
   width: 30%;
 }

 header > h3 {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-bottom: 0;
} 

 .small{
   font-size: small ;
 }

/* Keep top as it is to keek mobile view from pushing testimonial up */
 .grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  padding: 20px;
  width: 50%;
  position:absolute;
  color:black;
  top:50%;
  left:50%;
  padding: 0 5px;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

} 
.grid-item > .black {
  color: black;
}

.grid-item {
  background-color: rgba(255, 255, 255);
  border: 5px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.type-face{
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  text-align: center;
  line-height: 1em;
  color: white;
  padding-top: 1%;
}

.black-text {
  color: black;	
}

.float-left {
  float: left;
  width: 40%;
  clear:left;
}

.float-right {
  float: left;
  width: 40%;
}

.bounce {
  animation: bounce 2s;
  animation-iteration-count: 20
}

@keyframes bounce {
  0%,
  25%,
  50%,
  75%,
  100% {
      transform: translateY(0);
  }
  40% {
      transform: translateY(-20px);
  }
  60% {
      transform: translateY(-12px);
  }
}
