
body {
	color: white;
	background: black;
}
nav {
	text-align: center;
	position: relative;
	right: 4%;
	top: -50px;
}
.open-sans {
font-family: 'Open Sans Condensed', sans-serif;

}
.email {
	text-align: center;
	margin-top: 12%;
	display: relative;
	right: 500px;
}
header {
	display: block;
	margin: auto;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 30px;
}
.main-center > h3, .main-center{
	text-align: center;
	list-style-position: inside;
	margin: auto;
	width: 50%;
}
.black {
	color: black
}
a { /* or whatever your class */
	text-decoration: none;
}
header img {
	width: 100px;
	text-align: center;
	border-radius: 50%;
	height: 50%
}
 hr {
	 width: 30%;
 }
 header > h3 {
	 font-family: Verdana, Geneva, Tahoma, sans-serif;
	 margin-bottom: 0;
} 
 .small{
	 font-size: x-small ;
 }
 header .small{
	 margin-top: 10px;
	font-size: small ;
}
header > p {
	margin-top:0;
}

 .grid-container {
	display: grid;
  grid-template-columns: auto auto ;
  padding: 20px;
	width: 50%;
  position:absolute;
  color:white;
  top:50%;
	left:50%;
	padding: 0 5px;
  padding:15px;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);

} 
.grid-item {
  background-color: rgba(255, 255, 255);
  border: 5px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 30px;
	text-align: center;
	color: black;
}
.type-face{
	font-family: Arial, Helvetica, sans-serif;
}
.float-left {
	float: left;
	width: 40%;
	clear:left;
}

.float-right {
	float: left;
	width: 40%;
}
.bounce {
	animation: bounce 2s;
	animation-iteration-count: 20
}

@keyframes bounce {
	0%,
	25%,
	50%,
	75%,
	100% {
			transform: translateY(0);
	}
	40% {
			transform: translateY(-20px);
	}
	60% {
			transform: translateY(-12px);
	}
}
